# Python cache
__pycache__/
*.pyc

# Virtual env
venv/
.env

# Build files
build/
dist/
reports/

# Test & coverage reports
.coverage
htmlcov/
*.xml

# PyInstaller
*.spec

# OS files
.DS_Store
Thumbs.db

